.custom-carousel-control-prev{ 
    background-color: rgb(202, 202, 202);
    position: absolute;
    padding: 10px;
    font-size: 2px;
    border-radius: 50%;
    bottom: 10px; 
    right: 80px;
}

.custom-carousel-control-next{ 
    background-color: rgb(202, 202, 202);
    position: absolute;
    padding: 10px;
    font-size: 2px;
    border-radius: 50%;
    bottom: 10px; 
    right: 30px; 
}

.text-only-button{
    background:none;
    border:none;
}

.text-only-button-bold{
    @extend .text-only-button;
    font-size: 14px;
    font-weight:bold;
}

.section-title {
    padding: 40px 0px 40px 0px;
    font-size: 20px;
    font-weight:bold;
}

.product-info{
    .product-type{
        color: rgb(107, 107, 107);
    }
    .product-name{
           color: black; 
    }
    .product-price{
        div {
            display: inline-block;
            color: black; 
            font-size: 12px;
        }
        color: rgb(0, 132, 255);
    }
}

.search-input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(0, 132, 255);
  }