/* Carousel controls */
.custom-carousel-control-prev{ 
    background-color: rgb(202, 202, 202);
    position: absolute;
    padding: 10px;
    font-size: 2px;
    border-radius: 50%;
    bottom: 10px; 
    right: 80px;
}

.custom-carousel-control-next{ 
    background-color: rgb(202, 202, 202);
    position: absolute;
    padding: 10px;
    font-size: 2px;
    border-radius: 50%;
    bottom: 10px; 
    right: 30px; 
}

/* Clickable text*/
.text-only-button{
    background:none;
    border:none;
}

.text-only-button-bold{
    @extend .text-only-button;
    font-size: 14px;
    font-weight:bold;
}

/* Inner titles */
.section-title {
    padding: 40px 0px 40px 0px;
    font-size: 20px;
    font-weight:bold;
}

/* Product css */
.product-container:hover .image {
    opacity: 0.3;
}
.product-container:hover .product-hover-buttons {
    opacity: 1;
}
.product-hover-buttons {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.product-info{
    .product-type{
        color: rgb(107, 107, 107);
    }
    .product-name{
        color: black; 
    }
    .product-price{
        div {
            display: inline-block;
            color: black; 
            font-size: 12px;
        }
        color: rgb(0, 132, 255);
    }
}

/* Modal's search input*/
.search-input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(0, 132, 255);
}

/* Footer rules */
.footer-info {
    background-color: rgb(228, 228, 228);
}