.custom_carousel-control-prev{ 
    background-color: rgb(202, 202, 202);
    position: absolute;
    bottom: 10px; 
    right: 80px;
    padding: 10px;
    font-size: 2px;
    border-radius: 50%;
}

.custom_carousel-control-next{ 
    background-color: rgb(202, 202, 202);
    position: absolute;
    bottom: 10px; 
    font-size: 2px;
    right: 30px; 
    padding: 10px;
    border-radius: 50%;
}