/* Toggled Menu*/
.toggledMenu {
  background-color: #f3f8fc; }

.toggledMenuInner {
  background-color: #eeeeee;
  font-size: 14px; }

/* Carousel controls */
.custom-carousel-control-prev {
  background-color: #cacaca;
  position: absolute;
  padding: 10px;
  font-size: 2px;
  border-radius: 50%;
  bottom: 10px;
  right: 80px; }

.custom-carousel-control-next {
  background-color: #cacaca;
  position: absolute;
  padding: 10px;
  font-size: 2px;
  border-radius: 50%;
  bottom: 10px;
  right: 30px; }

/* Clickable text*/
.text-only-button, .text-only-button-bold {
  background: none;
  border: none; }

.text-only-button-bold {
  font-size: 14px;
  font-weight: bold; }

/* Inner titles */
.section-title {
  padding: 40px 0px 40px 0px;
  font-size: 20px;
  font-weight: bold; }

/* Product css */
.product-container:hover .image {
  opacity: 0.3; }

.product-container:hover .product-hover-buttons {
  opacity: 1; }

.product-hover-buttons {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.product-info .product-type {
  color: #6b6b6b; }

.product-info .product-name {
  color: black; }

.product-info .product-price {
  color: #006fca; }
  .product-info .product-price div {
    display: inline-block;
    color: black;
    font-size: 12px; }

/*Categories*/
.categories-border-right {
  border-right: 1px solid lightgray; }
  @media all and (max-width: 768px) {
    .categories-border-right {
      border-right: 0px solid lightgray; } }

/* General info */
.general-info {
  background-color: #e4e4e4; }

/* Back to top button */
.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  color: white;
  background-color: #006fca;
  border-radius: 50%; }

/* Modal's search input*/
.search-input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #006fca; }
