.custom-carousel-control-prev {
  background-color: #cacaca;
  position: absolute;
  padding: 10px;
  font-size: 2px;
  border-radius: 50%;
  bottom: 10px;
  right: 80px; }

.custom-carousel-control-next {
  background-color: #cacaca;
  position: absolute;
  padding: 10px;
  font-size: 2px;
  border-radius: 50%;
  bottom: 10px;
  right: 30px; }

.text-only-button, .text-only-button-bold {
  background: none;
  border: none; }

.text-only-button-bold {
  font-size: 14px;
  font-weight: bold; }

.section-title {
  padding: 40px 0px 40px 0px;
  font-size: 20px;
  font-weight: bold; }

.product-info .product-type {
  color: #6b6b6b; }

.product-info .product-name {
  color: black; }

.product-info .product-price {
  color: #0084ff; }
  .product-info .product-price div {
    display: inline-block;
    color: black;
    font-size: 12px; }
