.custom-carousel-control-prev {
  background-color: #cacaca;
  position: absolute;
  padding: 10px;
  font-size: 2px;
  border-radius: 50%;
  bottom: 10px;
  right: 80px; }

.custom-carousel-control-next {
  background-color: #cacaca;
  position: absolute;
  padding: 10px;
  font-size: 2px;
  border-radius: 50%;
  bottom: 10px;
  right: 30px; }

.text-only-button, .text-only-button-bold {
  background: none;
  border: none; }

.text-only-button-bold {
  font-weight: bold; }
